export const {{name}}Table = (props: { items: {{inputTypeInfo.namedBinding}}[]; }) => {
    return <table>
    <thead>
        <tr>
        {{#each byOrdering}}
            <th>{{input.name}}</th>
        {{/each}}
        </tr>
    </thead>
    <tbody>
        {{#surroundWithCurlyBraces}}
        props.items.map((item, index)=>
            <tr key={{#surroundWithCurlyBraces}}index{{/surroundWithCurlyBraces}}>
                {{#each byOrdering}}
                    <{{input.firstMapping.componentType.typeName}}
                        item={{surroundWithCurlyBraces "item"}}
                        name={{#surroundWithCurlyBraces}}"{{input.name}}"{{/surroundWithCurlyBraces}}
                        value={{#surroundWithCurlyBraces}}item.{{input.name}}{{/surroundWithCurlyBraces}}
                    />
                {{/each}}
            </tr>)
        {{/surroundWithCurlyBraces}}
    </tbody>
    </table>;
}